*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav ul li{
    font-size: 1.1rem;
    font-weight: bold;
    color: #021b49;
    
}

nav ul li:hover{
    text-decoration: underline;
}

.seccionQuienes{
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   
   align-items: center;
}

.seccionQuienes h3{
    padding: 0.5rem;
    width: 85%;
    color: #fff;
    text-align: center;
    background-color: #021b49;
}
.seccionQuienes img{
    width: 100%;
}
.seccionQuienes p{
    margin-top: 1rem;
    width: 85%;
    color: #021b49;
}
.seccionQuienes button{
    background-color: #021b49;
}
.seccionQuienes button a{
    text-decoration: none;
    color: #fff;
}
.seccionQue{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

 }
 .seccionQue h3{
    padding: 0.5rem;
    width: 85%;
    color: #fff;
    text-align: center;
    background-color: #021b49;
}
.seccionQue img{
    width: 100%;
}
.seccionQue p{
    margin-top: 1rem;
    width: 85%;
    color: #021b49;
}
.seccionQue button{
    background-color: #021b49;
}
.seccionQue button a{
    text-decoration: none;
    color: #fff;
}

 .contenedorGrilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas:
      "header header header header"
      "slide slide slide slide"
      "seccionQuienes seccionQuienes seccionQue seccionQue"
      "footer footer footer footer";
 }

 .header{
    grid-area: header;
 }

 .slide{
    grid-area: slide;
 }
 .seccionQuienes{
    grid-area: seccionQuienes;
 }

 .seccionQue{
    grid-area: seccionQue;
 }

 .footer{
    margin-top: 2rem;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: #fff;
 }

 @media screen and (max-width:576px){
    .contenedorGrilla {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "slide"
        "seccionQuienes"
        "seccionQue"
        "footer";
    }
  }

  /* estilos EMPRESA */
  .contenedorEmpresa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 0.3fr 0.3 1fr 0.3fr;
    grid-template-areas:
      "header header header header"
      "titulo titulo titulo titulo"
      "subtitulo subtitulo subtitulo subtitulo"
      "imagen texto texto texto"
      "footer footer footer footer";
 }
 .titulo{
    grid-area: titulo;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #021b49;
 }

 .subtitulo{
    grid-area: subtitulo;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
 }

 .imagen{
    grid-area: imagen;
    margin: 0 0 0 2rem;

 }
 .texto{
    grid-area: texto;
    margin-right: 2rem;
 }

 @media screen and (max-width:576px){
    .contenedorEmpresa {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "titulo"
        "subtitulo"
        "imagen"
        "texto"
        "footer";
    }
  
    .subtitulo{
        grid-area: subtitulo;
        padding: 0;
        margin: 0 0 1rem 0 ;
        text-align: center;
        
     }
    
     .imagen{
        grid-area: imagen;
        text-align: center;
        padding: 0;
        margin: 0 0 1rem 0;
    
     }
     .texto{
        grid-area: texto;
        text-align: center;
     }


}